<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/events.css">
    <title>FINE ARTS GDC</title>
</head>
<style>
    h1 {
        text-align: center;
        color: #ffffff;
    }

    table {
        width: 90%;
        border-collapse: collapse;
        margin-top: 20px 0;
        margin: auto;
    }

    th,
    td {
        border: 4px solid #464343;
        border-radius: 10px;
        padding: 8px;
        text-align: left;
        color: rgb(0, 0, 0);
        background-color: #afa7a7;
    }

    th {
        background-color: #424642;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    img {
        max-width: 100px;
        height: auto;
        display: block;
    }

    button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
    }

    button:hover {
        background-color: #d32f2f;
    }

    form {
        display: inline-block;
    }

</style>

<body>
    <!--NAVIGATION PART-->
    <div class="navigation">
        <nav>
            <div class="logo">
                <img src="resources/logo finearts.png" alt="">
                <h1>KALABDHI</h1>
                </h1>
            </div>
            <div class="nav">
                <form action="/loginpage" method="post">
                    <button name="button" value="aboutus">ABOUT US</button>
                    <button name="button" value="gallery">GALLERY</button>
                    <button name="button" value="home">HOME</button>
                    <button name="button" value="login">LOGIN</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="events" style="color: rgb(199, 194, 194);text-align: center; padding: 1em 0;">
        <h1 style="font-size:4em;color: rgb(239, 238, 238);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-decoration: underline">UPCOMING EVENTS</h1>
        <div class="event_cards">
            <% event_data.forEach(event=> { %>
                <div class="event-card">
                    <div class="event-details">
                        <h2>
                            <%= event.event_name %>
                        </h2>
                        <p><strong>Place:</strong>
                            <%= event.event_place %>
                        </p>
                        <p><strong>Date:</strong>
                            <%= formatDate(event.event_date) %>
                        </p>

                    </div>
                </div>
                <% }); %>
        </div>
    </div>


    

    <h1 style="font-size:4em;color: rgb(239, 235, 235);font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;margin-top: 30px;text-decoration: underline;margin-bottom: 10PX;">STUDENT PARTICIPATED EVENTS</h1>

    <input id="search"
    style="font-size: 15px; border: none; padding: 6px; border-radius: 20px;  margin-left: 86em; width:fit-content;outline: none;margin-bottom: 10px;background: #dbd9d9;width: 17%;"
    type="text" placeholder="Enter Regno to find" oninput="filterTable(this.value)">

    <table id="events-table">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Participated In</th>
                <th>Event Prize</th>
                <th>Event Place</th>
                <th>Event Date</th>
                <th>Students</th>
                <!-- <th>Event Images</th> -->
                <!-- <th>Delete</th> -->
            </tr>
        </thead>
        <tbody>
            <% events.forEach(event=> { %>
                <tr>
                    <td>
                        <%= event.eventName %>
                    </td>
                    <td>
                        <%= event.participatedIn %>
                    </td>
                    <td>
                        <%= event.eventPrize %>
                    </td>
                    <td>
                        <%= event.eventPlace %>
                    </td>
                    <td>
                        <%= event.eventDate.toDateString() %>
                    </td>
                    <td>
                        <ul>
                            <% event.students.forEach(student=> { %>
                                <li data-regno="<%= student.regNo %>">
                                    <%= student.name %> (<%= student.regNo %>, <%= student.studentClass %>)
                                </li>
                                <% }) %>
                        </ul>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <script>
        function filterTable(searchValue) {
            const tableRows = document.getElementById("events-table").querySelectorAll("tbody tr");
            for (let i = 0; i < tableRows.length; i++) {
                const row = tableRows[i];
                const regNos = row.getElementsByTagName("li");
                let showRow = false;
                for (let j = 0; j < regNos.length; j++) {
                    const regNo = regNos[j].getAttribute("data-regno");
                    if (regNo.includes(searchValue)) {
                        showRow = true;
                        break;
                    }
                }
                row.style.display = showRow ? "" : "none";
            }
        }
    </script>




    </script>




    <script>
        function formatDate(dateString) {
            const date = new Date(dateString);
            const options = { weekday: 'short', month: 'short', day: 'numeric' };
            return date.toLocaleDateString('en-US', options);
        }




    </script>





    <!-- Footer -->
<!--     <footer>
        <div class="footer-info">
            <div class="left">
            <p>About us:<br>
                Govinda Dasa College, Surathkal<br>
                Managed By : Hindu Vidyadayinee Sangha<br> 
                Surathkal - 575014, D.K</p>
            </div>
            <div class="right">
            <p>Contact Us: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
            <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
            <p>Location: <a href="https://www.google.com/maps/place/Govinda+Dasa+Degree+College/@12.9848875,74.7974572,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba351cc794e013b:0x820bb3742f5c307e!8m2!3d12.9848875!4d74.8023281!16s%2Fm%2F0czf8vd?entry=ttu">View on Map</a></p>
            <p><a href="https://r.search.yahoo.com/_ylt=AwrKExQCLiRm3AsyIAq7HAx.;_ylu=Y29sbwNzZzMEcG9zAzEEdnRpZAMEc2VjA3Ny/RV=2/RE=1713675906/RO=10/RU=https%3a%2f%2fgovindadasacollege.edu.in%2f/RK=2/RS=UCGYBTZ32avfjE1uyCmbBVergvQ-">College Website</a></p>
        </div>
            <p>&copy; 2024 FINE ARTS MANAGEMENT. All rights reserved.</p>
        </div>
    </footer>
     -->




</body>


</html>